<!DOCTYPE html>
<html>
    <head>
        <title><%- title %></title>

        <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        <!--STYLES-->
        <link rel="stylesheet" href="/linker/styles/bootstrap.css">
        <link rel="stylesheet" href="/linker/styles/style.css">
        <!--STYLES END-->
        
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <%- partial('_header') %>
        <%- body %>
        
        <!-- JavaScript placed at the end of the document so the pages load faster
        ================================================== -->
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>   
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>    
        <script src="//cdnjs.cloudflare.com/ajax/libs/ember.js/1.2.0/ember.min.js"></script>      
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

        <!--SCRIPTS-->
        <script src="/linker/js/socket.io.js"></script>
        <script src="/linker/js/sails.io.js"></script>
        <script src="/linker/js/app.js"></script>
        <!--SCRIPTS END-->

        <!--TEMPLATES-->
        <script type="text/javascript" src="/jst.js"></script>
        <!--TEMPLATES END-->
    </body>
</html>