<div class="container">
    <div class="jumbotron">
        <h1>Snapshottr</h1>
        <p>Save the web!</p>
        <p>Enter your favorite url to get started.</p>
        <div>
            <form action="/snap/create" method="POST" >
                <div class="row">
                  <div class="col-lg-6">
                    <div class="input-group">
                      <input class="form-control" type="text" name="url" placeholder="e.g www.google.com">
                      <span class="input-group-btn">
                          <input class="btn btn-primary" type="submit" value="Snap!" />
                      </span>
                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </form>
        </div>
    </div>
</div>

