<iframe id="html-source" src="/html/view?id=<%= id %>" seamless="seamless" width="100%" height="1px" onLoad="calcHeight();"></iframe>

<footer style="max-height: 100px; background-color: #dfdfdf;">
    <div class="well">
        <button  class="btn btn-info btn-sm">Likes(<%= like %>)</button>
        <div>
            <label>Url:</label> <strong><%= url %></strong>
        </div>
    </div>
</footer>

<script type="text/x-handlebars" id="likes">
<div class='likes'>
    <div class="controls">
        <button  class="btn btn-info btn-sm">Be the first to Like this.</button>
    </div>
</div>
</script>

<script type="text/javascript">
    function calcHeight() {
        //find the height of the internal page
        var the_height = window.innerHeight;

        //change the height of the iframe
        document.getElementById('html-source').height = the_height - 120 - 40;
    }
</script>


